.sw-technorati-icon {
  list-style-image: url("chrome://searchwith/skin/technorati.png");
}

.sw-google-icon {
  list-style-image: url("chrome://searchwith/skin/google.png");
}

.sw-delicious-icon {
  list-style-image: url("chrome://searchwith/skin/delicious.png");
}

.sw-wikipedia-icon {
  list-style-image: url("chrome://searchwith/skin/wikipedia.png");
}

.sw-flickr-icon {
  list-style-image: url("chrome://searchwith/skin/flickr.png");
}

.sw-dict-reference-icon {
  list-style-image: url("chrome://searchwith/skin/dict-reference.png");
}

.sw-buzznet-icon {
  list-style-image: url("chrome://searchwith/skin/buzznet.png");
}

.sw-furl-icon {
  list-style-image: url("chrome://searchwith/skin/furl.png");
}

.sw-bloglines-icon {
  list-style-image: url("chrome://searchwith/skin/bloglines.png");
}

.sw-yahoo-icon {
  list-style-image: url("chrome://searchwith/skin/yahoo.png");
}

.sw-yahooImages-icon {
  list-style-image: url("chrome://searchwith/skin/yahoo.png");
}

.sw-yahooBlogs-icon {
  list-style-image: url("chrome://searchwith/skin/yahoo.png");
}

.sw-googleImages-icon {
  list-style-image: url("chrome://searchwith/skin/google.png");
}

.sw-googleBlogs-icon {
  list-style-image: url("chrome://searchwith/skin/google.png");
}

